<div class="container">
  <ul>
    <% @articles.each do |article| %>
      <li class="display-6"><%= link_to article.title.capitalize, article_path(article)%></li>

      <li class="blockquote"><%= article.content %></li>
    <% end %>
  </ul>
</div>

<%# <%= link_to 'Create New article', new_article_path %> %>
